<div  id="chart-data" class="d-none" data-entries="<%= @entries.to_json %>"></div>

<div class="row mt-3">
  <div class="col-12 col-md-4 mb-3">
    <div id="weight-chart"></div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div id="bmi-chart"></div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div id="body-fat-chart"></div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div id="calorie-chart"></div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div id="step-chart"></div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div id="measurement-chart"></div>
  </div>
</div>