<div  id="chart-data" class="d-none" data-entries="<%= @entries.to_json %>"></div>

<div class="row my-3">
  <div class="col-12 col-md-4">
    <div id="weight-chart"></div>
  </div>
  <div class="col-12 col-md-4">
    <div id="calorie-chart"></div>
  </div>
  <div class="col-12 col-md-4">
    <div id="step-chart"></div>
  </div>
  <div class="col-12 col-md-4">
    <div id="measurement-chart"></div>
  </div>
  <div class="col-12 col-md-4">
    <div id="body-fat-chart"></div>
  </div>
</div>