<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <span class="navbar-brand mb-0 h1"><%= fa_icon "bullseye", class: "text-warning fa-2x" %></span>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tracker-nav"
          aria-controls="tracker-nav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="tracker-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><%= fa_icon "home", class: "fa-2x fa-fw" %></a>
      </li>
    </ul>
  </div>
</nav>